<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title
      class="no-margin"
      style="margin-right: 1rem"
      [ngClass]="{ 'mat-headline-4': !matches, 'mat-headline-5': matches }"
    >
      <span>{{ data.title }}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-panel-description>
    <span class="no-margin">{{ data.id }}</span>
  </mat-panel-description>
  <div class="section">
    <span
      class="no-margin"
      [ngClass]="{ 'mat-headline-5': !matches, 'mat-headline-6': matches }"
      >Section content</span
    >
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/admin/section', data.id]"
    >
      <mat-icon>edit</mat-icon>
      Content
    </button>
  </div>
  <div class="section">
    <span
      class="no-margin"
      [ngClass]="{ 'mat-headline-5': !matches, 'mat-headline-6': matches }"
      >Subsections</span
    >
    <button mat-raised-button color="accent">
      <mat-icon>add</mat-icon>
      Section
    </button>
  </div>
  <mat-accordion multi>
    <app-admin-sections-list-item
      *ngFor="let item of data.childSections"
      [data]="item"
      [parentSectionId]="data.id ? data.id : null"
    ></app-admin-sections-list-item>
  </mat-accordion>
</mat-expansion-panel>
