mat-expansion-panel {
  padding: 1rem;
}

mat-expansion-panel-header {
  margin: 0;
}

mat-panel-description {
  margin-bottom: 1rem;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.no-margin {
  margin: 0;
}