[mat-button] {
  width: 100%;
  justify-content: flex-start;
}

mat-sidenav {
  padding-top: 56px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spacer {
  display: 1 1 flex;
}