<div class="background">
  <div mat-dialog-title>
    <span
      class="dialog-header"
      [ngClass]="{ 'mat-headline-2': !matches, 'mat-headline-3': matches }"
      >Delete quiz</span
    >
  </div>
  <mat-dialog-content>
    <span class="mat-h4"
      >Are you sure you want to delete this quiz? Once deleted, the quiz content can not be recovered.</span
    >
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-stroked-button color="primary" mat-dialog-close cdkFocusInitial>
      <span class="mat-h4">Cancel</span>
    </button>
    <button
      mat-stroked-button
      (click)="onClickConfirm()"
      color="warn"
      mat-dialog-close
    >
      <span class="mat-h4">Confirm</span>
    </button>
  </mat-dialog-actions>
</div>
